.home-container{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
    font-family: 'Chivo', sans-serif;
}
.logo-container{
    position: relative;
    text-align: center;
    background-color: #0e0e0e;
    height: 100vh;
    font-family: 'Syne', sans-serif;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.3fr 0.4fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      ".";
      justify-content: center;
}
.logo{
    margin: 0 auto;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
@media screen and (max-width: 1024px) {
    .logo{
        height: 65vh;
    }
}
@media screen and (max-width: 425px) {
    .logo{
        height: 50vh;
    }
}
.logo-title{
    font-family: 'Syne', sans-serif;
    font-size: 200pt;
    font-weight: 700;
    color: #d0d0d0;
    animation: fadeIn 5s;
    z-index: 1;
}
.logo-title1{
    font-family: 'Syne', sans-serif;
    font-weight: 100;
    font-size: 11pt;
    max-width: 50vw;
    text-align: center;
    margin: 0 auto;
    animation: fadeIn 15s;
    z-index: 1;
    background-color: #0e0e0e;
    color: #d0d0d0;
}
@keyframes fadeIn{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.logo-title2{
    font-family: 'Syne', sans-serif;
    font-size: 200pt;
    font-weight: 700;
    white-space: nowrap;
    color: #d0d0d0;
    animation: fadeIn 5s;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .logo-title{
        font-size: 160pt;
    }
    .logo-title2{
        font-size: 150pt;
    }
}
@media screen and (max-width: 768px) {
    .logo-title{
        font-size: 100pt;
    }
    .logo-title2{
        font-size: 100pt;
    }
}
@media screen and (max-width: 425px) {
    .logo-title{
        font-size: 70pt;
        margin-top: 100px;
    }
    .logo-title2{
        font-size: 60pt;
        margin-top: 30px;
    }
    .logo-title1{
        color: transparent;
        background-color: transparent;
    }
}
.down-arrow{
    color: #d0d0d0!important;
    margin: 0 auto;
    font-size: 30px;
    animation: bounce 2s ease infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{transform: translateY(-15px);}
}
.about-container{
    height: 100vh;
    background-color: #0e0e0e;
    color: #d0d0d0;
    font-family: 'Syne', sans-serif;
    font-weight: 100;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
}
@media screen and (max-width: 700px){
    .about-container{
        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "."
              "."
              ".";
        
          
    }
}
.inspiration{
    margin: 30px;
}
.inspiration-t{
    font-size: 24pt;
}
.inspiration-p{
    font-size: 12pt;
}
.story{
    margin: 30px;
}
.story-t{
    font-size: 24pt;
}
.story-p{
    font-size: 12pt;
}
.vision{
    margin: 30px;
}
.vision-t{
    font-size: 24pt;
}
.vision-p{
    font-size: 12pt;
}
@media screen and (max-width: 768px){
    .inspiration-t{
        font-size: 20pt;
    }
    .inspiration-p{
        font-size: 10pt;
    }
    .story-t{
        font-size: 20pt;
    }
    .story-p{
        font-size: 10pt;
    }
    .vision-t{
        font-size: 20pt;
    }
    .vision-p{
        font-size: 10pt;
    }
}
@media screen and (max-width: 590px){
    .inspiration-t{
        font-size: 18pt;
    }
    .inspiration-p{
        font-size: 9pt;
    }
    .story-t{
        font-size: 18pt;
    }
    .story-p{
        font-size: 9pt;
    }
    .vision-t{
        font-size: 18pt;
    }
    .vision-p{
        font-size: 9pt;
    }
}
@media screen and (max-width: 425px){
    .inspiration-t{
        font-size: 16pt;
    }
    .inspiration-p{
        font-size: 8pt;
    }
    .story-t{
        font-size: 16pt;
    }
    .story-p{
        font-size: 8pt;
    }
    .vision-t{
        font-size: 16pt;
    }
    .vision-p{
        font-size: 8pt;
    }
}
@media screen and (max-width: 320px){
    .inspiration-t{
        font-size: 14pt;
    }
    .inspiration-p{
        font-size: 7pt;
    }
    .story-t{
        font-size: 14pt;
    }
    .story-p{
        font-size: 7pt;
    }
    .vision-t{
        font-size: 14pt;
    }
    .vision-p{
        font-size: 7pt;
    }
}
/* .about{
    font-size: 24pt;
    margin: 2rem;
    color: white;
} */
.jerome-container{
    width: 100vw;
    height: 100vh;
    position: relative; 
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        ". .";   
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
    background-color: #0e0e0e;
}
@media screen and (max-width: 425px){
    .image-container{
        display: flex;
    }
    .jerome-image1{
        object-fit: contain;
    }
}
.meet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Syne', sans-serif;
    font-size: 47pt;
    white-space: nowrap;
    color: #0e0e0e;
    font-weight: 700;
}
@media screen and (max-width: 500px){
    .meet{
        font-size: 30pt;
    }
}
@media screen and (max-width: 375px){
    .meet{
        font-size: 25pt;
    }
}
@media screen and (max-width: 320px){
    .meet{
        font-size: 20pt;
    }
}
.outside-container{
    background-color: #0e0e0e;
}
.next-container{
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.6fr 0.3fr 2.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "."
    "."
    "."; 
    margin: 2rem ;
    background-color: #0e0e0e;
    color: #d0d0d0;
    position: relative;
    justify-content: center;
}
.rome{
    font-family: 'Syne', sans-serif;
    font-size: 62pt;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
@media screen and (max-width: 768px){
    .rome{
        font-size: 58pt;
    }
}
@media screen and (max-width: 425px){
    .rome{
        font-size: 34pt;
    }
}
@media screen and (max-width: 375px){
    .rome{
        font-size: 30pt;
    }
}
@media screen and (max-width: 320px){
    .rome{
        white-space: wrap;
        text-align: center;
        margin-top: 0;
        padding-bottom: 20px;
    }
}
.text-changer{
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    font-family: 'Syne', sans-serif;
    font-size:24pt;
    box-sizing: content-box;
    justify-content: center;
}
.titles{
    overflow: hidden;
    position: relative;
    justify-content: center;
}
.role{
    display: block;
    height: 100%;
    animation: role-change 8s infinite;
}
@keyframes role-change{
    10%{
        transform: translateY(-102%);
    }
    25%{
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-202%);
    }
    50% {
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-302%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-402%);
    }
    100%{
        transform: translateY(-400%);
    }
}
@keyframes cursor {
    to{
        border-left: 2px solid;
    }
}
@keyframes words {
    0%,20%{
        content: "Director";
    }
    21%,41%{
        content: "Producer";
    }
    41%,60%{
        content: "Writer";
    }
    61%,80%{
        content: "Story-teller";
    }
    81%,100%{
        content: "Artist";
    }
}

.bio{
    font-family: 'Syne', sans-serif;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
@media screen and (max-width: 768px){
    .bio{
        margin-left:100px;
        margin-right:100px;
    }
}
@media screen and (max-width: 425px){
    .bio{
        margin: 0 auto;
        font-size: 13pt;
    }
}
@media screen and (max-width:375px){
    .bio{
        margin: 20px;
        font-size: 12pt;
    }
}
@media screen and (max-width:375px){
    .bio{
        margin: 10px;
        font-size: 12pt;
    }
}
.accordian-container{
    width: 50vw;
    background-color: #121212;
    color: #d0d0d0;
    font-family: 'Syne', sans-serif;
}
.features-container{ 
  background-color: #0e0e0e;
  color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Syne', sans-serif;
}
.features{
    font-size: 47pt;
    font-family: 'Syne', sans-serif;
}
@media screen and (max-width: 425px){
    .features{
        font-size: 40pt;
    }
}
@media screen and (max-width:375px){
    .features{
        padding-bottom: 25px;
        font-size: 35pt;
    }
}
.hmm{
    height: 100vh;
}
.idk{
   margin-bottom: 400px;
}
.comingsoon-container{
    height: 100vh;
    width: 100vw;
    background-color: #0e0e0e;
    color: #d0d0d0;
    position: relative;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
      justify-content: center;
}
.comingsoon{
    font-family: 'Syne', sans-serif;
    font-size: 76pt;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 100px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Syne', sans-serif;
    padding-bottom: 100px;
}
@media screen and (max-width: 768px){
    .comingsoon{
        font-size: 50pt!important;
    }
}
@media screen and (max-width: 470px){
    .comingsoon{
        font-size: 30pt!important;
    }
}
@media screen and (max-width: 400px){
    .comingsoon{
        font-size: 27pt!important;
    }
}
@media screen and (max-width: 320px){
    .bottom p{
        font-size: 10pt;
    }
    .comingsoon{
        font-size: 22pt!important;
    }
}
.content{
    font-family: 'Syne', sans-serif;
    font-size: 125pt;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.item1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item7{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thecarousel{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
    background-color: #0e0e0e;
    font-family: 'Syne', sans-serif;
}
.carousel-box{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0e0e0e;
}
.contact-container{
    background-color: #0e0e0e;
    width: 100vw;
    height: 100vh;
    font-family: 'Syne', sans-serif;
}
.contact-card{
    background-color: #d0d0d0;
    color: #d0d0d0;
    border-radius: 2%;
}
.contact-button{
    background-color: #d0d0d0!important;
    color: #0e0e0e!important;
}
.contact-button:hover{
    background-color: #0e0e0e!important;
    color: #d0d0d0!important;
}
.input{
    background-color: #d0d0d0!important;
    color: #0e0e0e!important;
}
.c-title{
    font-size: 24pt;
}
.watch{
    margin: 10px;
    border-color: #d0d0d0!important;
    background-color: #0e0e0e!important;
    color: #d0d0d0!important;
}
.watch:hover{
    background-color: #d0d0d0!important;
    color: #0e0e0e!important;
}
.subscribe-container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
    font-family: 'Syne', sans-serif;
    background-color: #0e0e0e;
    color: #d0d0d0;
  }
.header1{
    font-size: 47pt;
}
.subheader1{
    font-size: 24pt;
}
.content-coming{
    font-size: 125pt;
}
.animateMeet{
    animation: fades 2s;
}
@keyframes fades{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.animateName{
    animation: fadeName 2s;
}
@keyframes fadeName{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.contact-title{
    font-size: 47pt;
    color: #d0d0d0;
}
.contact-subtitle{
    color: #d0d0d0;
}
.comingsoonAnimate{
    animation: fadeComing 5s;
}
@keyframes fadeComing{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.subscribe-button{
    background-color: #0e0e0e!important;
    border-color: #d0d0d0!important;
    color: #d0d0d0!important;
}
.subscribe-button:hover{
    background-color: #d0d0d0!important;
    color: #0e0e0e!important;
}