.logo-container{
    position: relative;
    text-align: center;
    background-color: black;
    height: 100vh;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
}
.logo{
    margin: 0 auto;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    object-fit: cover;
}
.logo-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    color: white;
    white-space: nowrap;
    font-family: 'Michroma', sans-serif;
    overflow: hidden;
}
.logo-title span{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
.title2 span{
    animation-delay: 7.5s;
}
@keyframes marquee{
    0%{
        transform: translate(0,0);
    }100%{
        transform: translate(-100%,0);
    }
}
.jerome-container{
    background-color: black;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.jerome-img{
    margin: 0 auto;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jerome-title{
    color: white;
}
.jerome-headers{
    color: white;
}
